In [35]:
#!pip install tabulate

In [36]:
from selenium import webdriver
import pandas as pd
from collections import defaultdict
from tabulate import tabulate

DRIVER_PATH = '../chromedriver_win32/chromedriver'
driver = webdriver.Chrome(executable_path=DRIVER_PATH)
driver.get('https://woogles.io/tournament/anujtest3')

<ipython-input-36-dbe64335ea2e>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=DRIVER_PATH)

In [102]:
# mapping_A = {
# "iyerkala63": "Kala Ganesh",
# "Centrestar": "Sanjoy Gupta",
# "Eideticeve": "Ishika S",
# "meetsumeet": "Sumeet Sachdev",
# "shaiku": "Shaikh Ahmed",
# "Stacked": "Sudhir Kamath",
# "MGK28": "Madhav Gopal Kamath",
# "Bogeyman": "Pankaj Bolaki",
# "Pramit_06": "Pramit Rao",
# "DrSridhar": "Sridhar Paidikondala",
# "Rajveer": "Rajveer Rawlin",
# "Vigneshs": "Vignesh S",
# "Rnalini": "R Nalini",
# "shub": "Shubha S",
# "groveringu": "Udayan Grover",
# "raj2": "Rajiv Antao",
# "luckyboy77": "Amit Sood",
# "Squashy": "Suyash Manchali",
# "erazer": "Bhushan Pradhan",
# "Ekansh27": "Ekansh Arora",
# "Arindam": "Arindam Basu",
# "Sammy2000": "Samrath Singh Bhatia",
# "Raina": "Rohaina Tanveer",
# "amogh": "Amogh Bhamerkar",
# }

mapping_B = {
"lloydpearse": "Lloyd Pearse",
"daiwikrox": "Daiwik Bansal",
"Bhavya": "Bhavya Todi",
"Shreyas3": "Shreyas Gupta",
"Yuvraj123": "Yuvraj Dighe",
"Thakkar2007": "Arhav Thakkar",
"saviosas": "Savio Rebello ",
"RKS": "Rajnikant Singh",
"cfpereira": "Collin Pereira",
"Ritubarks": "Ritu Chadha",
"madhulekha": "Madhulekha Hazarika",
"Bucks": "Triambak Eashwar",
"Vimi212": "Vimisha Patel",
"swagatn": "Swagat Nukala",
"Stramash": "Samarth Manchali",
"GeeBee": "Gaurav Bhargava",
"ahiremath": "Akshay Hiremath",
"Ahana": "Ahana Goyal",
}

# mapping_A = { k.lower():v for k,v in mapping_A.items()}
# players_A = list(mapping_A.keys())
mapping_B = { k.lower():v for k,v in mapping_B.items()}
players_B = list(mapping_B.keys())

In [103]:
players=players_B
mapping=mapping_B
# Click left till Round 1
while True:
    try:
        driver.find_element_by_css_selector("[aria-label=left]").click()
    except Exception:
        break
games = {}
for player in players:
    games[player] = []

while True:
    rows = driver.find_elements_by_class_name('ant-table-row')
    for row in rows:
        text_arr = row.text.split('\n')
        split = text_arr[0].lower().split(' ')
        p1 = split[0]
        if len(split) > 1:
            status = split[1]
            if status.find('bye') >=0:
                games[p1].extend(['2001', players.index(p1)+1])
                continue
            if status.find('forfeit') >=0:
                games[p1].extend(['1000', players.index(p1)+1])
                continue
        _, p2, _, _, score1, score2 = text_arr[:6]
        p2 = p2.split(' ')[0].lower()

        win1, win2 = ('2','') if score1 > score2 else (('1', '1') if score1 == score2 else ('', '2'))

        games[p1].extend([win1 + str(score1), players.index(p2)+1])
        games[p2].extend([win2 + str(score2), players.index(p1)+1])

    try:
        driver.find_element_by_css_selector("[aria-label=right]").click()
    except Exception:
        break

<ipython-input-103-c74652e2b6c8>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("[aria-label=left]").click()
<ipython-input-103-c74652e2b6c8>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rows = driver.find_elements_by_class_name('ant-table-row')
<ipython-input-103-c74652e2b6c8>:36: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("[aria-label=right]").click()

In [104]:
tabulate.PRESERVE_WHITESPACE = True
df = pd.DataFrame(games).T.reset_index()
df['index'] = df['index'].apply(lambda x: mapping[x].ljust(24, ' ')) #tsh allots about 21 characters to the name
df[0] = df[0].apply(lambda x: x.rjust(6, ' '))
#str
df

,index,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,Lloyd Pearse,2406,15,2377,16,379,13,2409,9,292,...,344,13,304,12,2426,2,377,9,283,10
1,Daiwik Bansal,2474,6,334,4,2433,11,342,5,2401,...,336,16,322,9,376,1,370,15,2468,17
2,Bhavya Todi,250,8,139,12,231,15,366,11,318,...,273,6,365,11,2416,6,2372,11,2441,18
3,Shreyas Gupta,2454,14,2439,2,2439,5,2456,13,2474,...,385,5,2357,5,2427,5,1000,4,1000,4
4,Yuvraj Dighe,2369,17,2382,18,407,4,2415,2,2411,...,2519,4,336,4,338,4,352,7,403,14
5,Arhav Thakkar,307,2,237,14,326,17,239,12,2387,...,2341,3,331,15,262,3,2001,6,314,11
6,Savio Rebello,305,18,2413,17,2358,12,306,8,378,...,2403,14,366,13,2404,10,2403,5,2398,8
7,Rajnikant Singh,2526,3,2439,15,395,10,2408,7,2476,...,398,10,2582,10,340,16,2363,12,395,7
8,Collin Pereira,334,10,2378,11,2436,18,380,1,433,...,2432,17,2394,2,310,14,2379,1,2387,15
9,Ritu Chadha,2362,9,350,13,2396,8,2459,14,404,...,2422,8,274,8,279,7,303,14,2561,1
10,Madhulekha Hazarika,286,13,372,9,344,2,2388,3,309,...,321,15,2427,3,353,18,298,3,2390,6
11,Triambak Eashwar,340,16,2428,3,306,7,2493,6,377,...,2449,18,2426,1,263,13,295,8,2407,16
12,Vimisha Patel,2522,11,2388,10,2411,1,340,4,311,...,2468,1,2383,7,2375,12,2464,16,1000,13
13,Swagat Nukala,411,4,2587,6,2451,16,318,10,2461,...,309,7,306,16,2389,9,2498,10,2463,5
14,Samarth Manchali,339,1,298,8,2458,3,2338,16,372,...,2393,11,2375,6,2451,17,2391,2,373,9
15,Gaurav Bhargava,2346,12,376,1,340,14,322,15,2445,...,2344,2,2383,14,2410,8,297,13,405,12
16,Akshay Hiremath,328,5,287,7,2388,6,309,18,2392,...,265,9,2364,18,237,15,2429,18,320,2
17,Ahana Goyal,2505,7,358,5,334,9,2393,17,2442,...,273,12,284,17,2488,11,383,17,412,3

In [106]:
div = 'B'
content = tabulate(df.values.tolist(), list(df.columns), tablefmt="plain")
start = f'*M01.22.2022 KSSA Virtual Jan Division {div}\n' \
        f'*{div}\n' \
        f'                                      0\n'
end = f'\n*** END OF FILE ***'
content = start + content[content.find('\n')+1:] + end
open('c:\Aupair\\np.tou', "w").write(content)

3649